version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: food_delivery_backend
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: harish
      DB_DATABASE: DEMO_SESSION
    volumes:
      - ./backend/uploads:/app/uploads

  postgres:
    image: postgres:15
    container_name: food_delivery_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: harish
      POSTGRES_DB: DEMO_SESSION
    ports:
      - "6543:6543"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
