.Design {
    position: relative;
    left: 750px;
    top: 150px;
    height: 655px;
    width: 450px;
    border: .5px solid rgb(224, 215, 215);
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}

input[type='file'] {
  font-size: 1rem; 
}

input[type="file"]::file-selector-button {
  background-color: #007bff; 
  color: white; 
  font-size: medium;
  padding: 1rem 1.5rem; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-right: 16px; 
  margin-top:5px
}

input[type="file"]::file-selector-button:hover {
  background-color: #0056b3;
}